<a class="list-group-item clearfix row" [routerLink]="[index]">
    <div class="row">
        <div class="pull-left col-8">
            <h4 class="list-group-item-heading">{{recipe?.name}} </h4>
            <p class="list-group-item-text">{{recipe?.description}}</p>

        </div>
        <div class="col-4">
            <span class="pull-right ">
                <img src={{recipe?.imagePath}} alt="image" class="img-responsive" style="width:100%;max-height: 200px;">
            </span>
        </div>
    </div>
</a>