<form action="" style="margin-left: 30px;">
    <div class="row">
        <div class="col-2">
            <label>Name:</label>
            <input type="text" class="form-control">
        </div>
        <div class="col-1">
            <label>Amount</label>
            <input type="text" class="form-control">
        </div>
    </div>
    <div class="">
        <button class="btn add-btn">Add</button>
        <button class="btn btn-danger">Delete</button>
        <button class="btn btn-primary">Cancle</button>
    </div>
</form>